@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Test";
}

<h1>TestController + Test/RazorTest View</h1>

@* Printing Value of 2 Sums *@
@{
    int a = 1;
    int b = 2;
}

<p>@(a+ b)</p>

@* Printing Values of an Array *@
@{
    String[] listOfStr = { "hey", "there", "lol" };
}

<ul>
    @foreach(String word in listOfStr)
    {
        <li>@word</li>
    }
</ul>

@* Printing Anon Coords *@
@{
    var coords = new[]
    {
        new { x = 1, y = 1 },
        new { x = 2, y = 3 },
        new { x = 4, y = 5 },
        new { x = 6, y = 7 }
    };
}

@foreach (var coord in coords)
{
<p>@coord.x, @coord.y</p>
};