@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="../TestPage.html">Go to Test Page</a>
</div>

@* Basic Anchor Tag Using 'href' *@
<a href="~/Test/RazorTest">Go to test page.</a>

@* HTML Helper Tag // Text, Action (target source), Controller Name (without the controller suffix) *@
@Html.ActionLink("Go to test page.", "RazorTest", "Test")
